.Avatar {
  height: 180px;
  width: 180px;
  -webkit-box-shadow: 0px 3px 18px -5px rgba(173, 171, 173, 1);
  -moz-box-shadow: 0px 3px 18px -5px rgba(173, 171, 173, 1);
  box-shadow: 0px 3px 18px -5px rgba(173, 171, 173, 1);
}
.profile-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 10;
}

.profilePhotoUplodeLabel {
  padding: 10px;
}
